body{
    background-color: rgb(224,224,224);
}
i{
    height: 30px;
    width: 25px;
    line-height: 29px;
    background: none;
    color: rgb(0.64.128);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.container{
    margin-top: 10px;
}
.row1{
    width: auto;
    height: 80px;
    background-color: #20c997;

}
.row3 .row{
    width: auto;
    height: 80px;
    background-color: rgb(0,0,102);

}
.row1 .row a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 30px;
    color: #000;
}
.row3 .row a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 30px;
    color: #fff;
}
.row i{
    margin-right: 10px;
    margin-top: 20px;
}
.row2 .row a{
    font-size: 18px;
    height: 60px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    border-radius: 20px;
}
/*
.pd_agileits_twitter_post h4{
    color: #212121;
    position: relative;
    padding-left: 2em;
    font-size: 1.3em;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight:600;

}
.pd_agileits_twitter_post h4 a{
    color:#fa3d03;
    text-decoration:none;
    text-transform: initial;
}
.pd_agileits_twitter_post h4 a:hover{
    color:#212121;
}
.pd_agileits_twitter_post h4:before{
    content:"\f099";
    color:#1da1f2;
    font-family:FontAwesome;
    position:absolute;
    top:0%;
    left:0%;
}
.wthree_footer_grid_left {
    padding: 4em 0;
}
.wthree_footer_grid_left1 h4 {
    font-size: 1.4em;
    font-weight: 600;
    color: #002147;
    text-transform: uppercase;
    position: relative;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
    margin-top: 30px;
    letter-spacing: 1px;
}
.wthree_footer_grid_left1 h4:after{ 
    content: '';
    background: #ffb71c;
    height: 2px;
    width: 20%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.wthree_footer_grid_left1 p{
    color:#999;
    line-height:2em;
}
.wthree_footer_grid_left1 ul li {
    list-style-type: none;
    color: #ffb71c;
    margin-bottom: 1em;
    letter-spacing: 1px;
}
.wthree_footer_grid_left1 ul li i{
    padding-right:1em;
}
.wthree_footer_grid_left1 ul li:last-child,.wthree_footer_grid_right1 ul li:last-child{
    margin:0;
}
.wthree_footer_grid_left1 ul li a,.wthree_footer_grid_right1 ul li a{
    color:#212121;
    text-decoration:none;
}
.wthree_footer_grid_left1 ul li a:hover{
    color:#ffb71c;
}
.wthree_footer_grid_right1 ul li{
    list-style-type:none;
    color:#212121;
    margin-bottom:1em;
    font-weight:600;
}
.wthree_footer_grid_right1 ul li i {
    padding-right: 1em;
    color: #ffb71c;
}
.wthree_footer_grid_right1 ul li a:hover{
    color:#ffb71c;
}
.wthree_footer_grid_right2_pd{
    float:left;
    width:33.33%;
}
.wthree_footer_grid_right_main1{
    text-align:center;
    padding:1em;
}
.agileits_footer_social li{
    display:inline-block !important;
}
.pd_copy_right {
    padding: 1.5em 0;
    text-align: center;
    background:-webkit-linear-gradient(#ffd985,#e69f06);
    background:-moz-linear-gradient(#ffd985,#e69f06);
    background:-ms-linear-gradient(#ffd985,#e69f06);
    background: linear-gradient(to right bottom,#ffd985,#e69f06);
    height: 50px;
    margin-bottom: 10px;
}
.pd_copy_right p {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.1em;
}
.pd_copy_right p a{
    color:#002147;
    text-decoration:none;
}
.pd_copy_right p a:hover{
    color:#fff;
}