/*********************************
10. Agents
*********************************/

.agents
{
	padding-top: 100px;
	padding-bottom: 100px;
}
.agents_row
{
	margin-top: 94px;
}
.agent_image
{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	overflow: hidden;
}
.agent_name
{
	font-size: 16px;
	color: #1e2c4e;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 25px;
}
.agent_role
{
	font-size: 14px;
	font-weight: 600;
	color: #838383;
	margin-top: 7px;
}
.agent_social
{
	margin-top: 19px;
}
.agent_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 2px #fd784f;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.agent_social_item:last-child
{
	margin-right: 0px;
}
.agent_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.agent_social_item a i
{
	display: block;
	position: relative;
	color: #fd784f;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.agent_social_item:hover
{
	background: #fd784f;
}
.agent_social_item:hover a i
{
	color: #FFFFFF;
}
.agents_more_button
{
	background: #fd784f;
	margin-top: 100px;
}
.agents_more_button a
{
	color: #FFFFFF;
}
