body{
   
}
.pd_about_bottom_left{
	padding:0;
	position:relative;
}
.pd_about_bottom_left img{
	width:100%;
}
 h4.book-text h4 text-transform: uppercase;{
    font-size: 1.7em;
    color: #fff;
    letter-spacing: 2px;
    padding: 0.4em 0em;
    width: 100%;
    text-align: center;
}
.book-text h4{
    background: rgba(0, 0, 0, .5);
}
.pd_about_bottom_right {
    padding: 5.5em 0em 0.6em;
    background: #f5f5f5;
    margin-left: -20px;
    width: 850px;
}
.pd_about_bottom_right1 {
    padding: 17.5em 0em 0.6em;
    background: #f5f5f5;
    margin-left: -20px;
    width: 850px;
}
.grid-single-page-agileits img {
    width: 1050px;
    height: 705px;
    margin-left: -12px;
}
.grid-single-page-agileits1 img {
    width: 1050px;
    height: 635px;
    margin-left: -12px;
}
.agileits-main ul {
    float: left;
    width: 50%;
}
li.text {
    color: #000;
    text-align: left;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: capitalize;
    list-style: none;
}
li.agileits-main {
    list-style: none;
	position: relative;
}
li.agileits-main i {
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    top: 31%;
    left: 4%;
}
.agile-submit {
    text-align: center;
    margin-top: 8px;
}
.agile-submit input[type="submit"] {
    padding: .8em 4em;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin: 0.8em 0 0;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
    cursor: pointer;
    background: rgba(0,213,213);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-submit input[type="submit"]:hover {
    background: #000;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.clo1 {
    margin-top:0px !important;
}
.header-pd h2 {
    font-size: 2.8em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -30px;
}
.header-pd h4 {
    font-size: 1.6em;
    color: #ffb71c;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding:1em 0 2.5em;
}
.header-pd1 h2 {
    font-size: 2.8em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.header-pd1 h4 {
    font-size: 1.6em;
    color: #ffb71c;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding:1em 0 2.5em;
}
.pd-left-mk, .pd-right-mk {
        width: 100%;
}
.pd-left-mk a{
    margin-left: 8em;
    font-size: 18px;
    color: #ffb71c;
}
.pd-left-mk a:hover{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    margin-left: 7em
    font-weight: initial;

}
.agileits-main input[type="text"], .agileits-main input[type="email"] ,.agileits-main input[type="password"]{
    font-size: 1em;
    color: #fff;
    padding: .9em 1em .9em 2.5em;
    margin: 1em 0 2em;
    outline: none;
    border: none;
    background: #002147;
    width: 100%;
}
.agileits-main1 ul {
    float: left;
    width: 50%;
}
li.text1 {
    color: #000;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    list-style: none;
    margin-left: 5.5em;
}
li.agileits-main1 {
    list-style: none;
    position: relative;
}
li.agileits-main1 i {
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    top: 31%;
    left: 30%;
}
.agileits-main1 input[type="email"] ,.agileits-main1 input[type="password"],.agileits-main1 input[type="text"]{
    font-size: 1em;
    color: #fff;
    padding: .9em 1em .9em 2.5em;
    margin: 1em 7em 2em;
    outline: none;
    border: none;
    background: #002147;
    width: 100%;

}
.agile-submit1{
    margin-top: -10px;
}
.agile-submit1 input[type="submit"] {
    padding: .8em 2em;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin: 0em 30em 3.5em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
    cursor: pointer;
    background: rgba(0,213,213);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-submit1 input[type="submit"]:hover{
    background: #000;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-submit1 a{
    text-decoration: none;
    margin-left: -280px;
    font-size: 16px;
    margin-top: -40px;

}
.agile-submit1 a:hover{
    text-decoration: none;
    color: orange;
    
}
.clo1 {
    margin-top:0px !important;
}
.btn input[type="submit"]{
    margin: 2.5em 0.2em 0;
    font-size: 20px;
    width: 100px;
    margin-top: 10px;
}
.btn input[type="button"]{
    margin: 2.5em 6.8em 0;
    font-size: 20px;
    width: 100px;
    margin-top: 10px;
}



/*@media(max-width: 1680px){
    .pd_about_bottom_right {
        padding: 3.5em 3.5em 5.5em;
    }
}
@media(max-width: 1600px){
    .pd_about_bottom_right {
        padding: 3.5em 3.5em 3em;
    }
}
@media(max-width: 1440px){
    .pd_about_bottom_right {
        padding: 3em;
    }
    @media(max-width: 1280px){
.pd_about_bottom_right {
        padding: 2em;
    }
.pd_about_bottom_right {
        padding: 1.5em 2em 1.5em;
    }
    @media(max-width: 1050px){
.pd_about_bottom_right {
        padding: 1.2em 2em 1.5em;
    }
}